/* */

body {
  width: 80%;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  max-height: 100vh;
  background-size: cover;
}

header {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}

header nav a {
  text-decoration: none;
  margin-left: 40px;
  color: white;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  gap: 20px;
}
